@import url('https://fonts.googleapis.com/css2?family=Rasa&family=Roboto:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:rgb(19, 18, 18);
    height: 80px;
}

.container-grid {
    
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
    height:470px;
}
.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rasa', serif;
    font-size: 20px;
}

.banner{
    background-image: url(../img/banner.svg);
    height: 360px;
    background-repeat: none;
    background-size: cover;
}

#carrosel img{
    display: none;
   
}
.carrosel{
    height: 365px;
    text-align: center;
}
.banner-ativo{
    display: flex;
}
.secao-icone{
    background-color:white;
    
}
.icones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icones img{
    width: 120px;
}
.icones p{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: black;
}
.primeiras-ofertas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.oferta-carroceu img{
    height: 325px;
    width: 600px;
}

.cardnews img{
    height: 300px;
    width: 400px;
   
   
}
.cardnews {
    font-size: 25px;
    font-family: 'Roboto' sans-serif;
    color: darkred;
    justify-content: space-between;
    text-align: center;
}
.promo img{
     width: 100%;
}

.posicionamento-header{
    position: relative;
}
.barras{
    
    display: none;
}
.footer-texto a {
    font-family: 'Rasa';
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: rgb(187, 181, 181); 
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.footer-redes-sociais  img {
    height: 8%;
    width: 20%;    
}
.footer-icones img{
    height: 60%;
}
.footer-pagamentos img{
    height: 130px;
    width: 300px;
}
button{
 color: rgb(10, 10, 10);
background-color: darkturquoise;
font-family: 'Rasa';
font-size: 20px;
 
}


@media screen and (max-width: 1200px) {
    .container-grid{
        width: 90%;
    }
    .menu{
        width: 460px;
    }
    .menu a{
        font-size: 16px;
    }
    .logo{
        width: 200px;
    }
    
}

@media screen and (max-width: 768px) {
    .container-grid{
        width: 90%;
    }
    .barras{
        display: inline-block;
        width: 40px;
        
    }
    .menu{
        display: none;
        flex-direction: column;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        right: 65px;
        background-color: black;
    }
    .menu a{
        text-align: center;
        padding: 15px;
    }     
    .banner{
        width: 90%;             
    }
    .posicionamento-header{
        position: relative;
    }
    .footer .container-grid{
        width: 90%;
    }
    .menu-ativo{
        display: flex;

    }

    
}


/* pagina de login */

.login-usuario {
    text-align: center;
    font-family: 'Rasa';
    font-size: 20px;
    color: black;

}

.login-novo-usuario {
    text-align: center;
    font-family: 'Rasa';
    font-size: 20px;
    color: black;
}
