@import url('https://fonts.googleapis.com/css2?family=Rasa&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:black;
    height: 80px;
}

.container-grid{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rasa', serif;
    font-size: 20px;
}
.menu{
    width: 660px;
    display: flex;
    justify-content: space-between;
}

